# Copyright (c) 2018 Benjamin Levy
#
# This file is part of FollowTheBeat.
#
# FollowTheBeat is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# FollowTheBeat is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with FollowTheBeat. If not, see <http://www.gnu.org/licenses/>.

language: haxe
os:
  - linux
  - osx
cache:
  directories:
  - "/home/travis/haxe/lib"
before_install:
  sudo -E ./travis/before_install.sh
install:
  ./travis/install.sh
script:
  ./travis/script.sh
before_deploy:
  ./travis/before_deploy.sh
deploy:
  provider: releases
  api_key:
    secure: FViyItrbNNKejz1qHggiIWkSscWZR0lhfFGS6kaWn135CoH16XdE+eotPUDO2DGs+toQDQK+ZuX9Ipqn8tA3pyS4DYpQJLCBweeU0obiGTVoT4eHtI0+ImHvZ5799zCvXGf5Uyzo565dayrl4cXtDNE0DNF6u7pY/jEY8DHCThCARNEA54JBak/FXAORzTAPjFClhgGrSyQJ4aF3z9TzoBhBP/V9fbK1LjM2cRy44VML9uSz7Jxn+epHgW/qknT+j6zqehleWWLtJS0oSTqQhFGP6Ik5sZ8C/kciumRg7OfTKgybUvvUj0UH9G7+gNMhnt0LDU3QvdMt4CGHcUPmwhgkgNKzB2hbFmjEGY0hqlxP7y6nx2N7rKtxf6kfbyM7zXDirS2+rMyGzdnd46y5j9RdJ4Rnh/L8a58Z3KMknvl/ckE6qfA1WOd3vc5ThfuhmGCFPDwjHOteb/2fWc21b0TiXmvfbgIR5Ul+BTCaXFkn7lQdRahugrgJGvv4x86TAft5YHtkbMfwqGLrHBf2wVDKy/M2rXr83PNvGZtKbcNWVRrltkgn5v9Ju67s2ZAR/zFl7w511gikOhmP6imQ+4115p03ONdXsJguIxdc0eUkw/zKvtpuaUUBhyAOh6GZRDVIBvDz+yrvM9iyOm7Ax0aam1AY1KwPxDD8zbSzdOU=
  file_glob: true
  file:
    - export/android/bin/bin/FollowTheBeat-debug.apk
    - export/linux64/cpp/FollowTheBeat*.zip
    - export/mac64/cpp/FollowTheBeat*.zip
    - export/windows/neko/FollowTheBeat*.zip
  skip_cleanup: true
  on:
    tags: true
after_deploy:
  - rm -f export/android/bin/bin/FollowTheBeat-debug.apk
  - rm -f export/linux64/cpp/FollowTheBeat*.zip
  - rm -f export/mac64/cpp/FollowTheBeat*.zip
  - rm -f export/windows/neko/FollowTheBeat*.zip
